@model Raffle.Web.Models.Raffle.RaffleOrderViewModel
@inject Raffle.Web.Services.FlagManager flagManager

@{
    ViewData["Title"] = "Raffle";
}

@section Scripts {
    <script type="text/javascript" src="~/lib/lazysizes/lazysizes.min.js"></script>
    <script type="text/javascript" src="~/lib/handlebars.js/handlebars.min.js"></script>
    <script type="text/javascript" src="~/js/rafflerun.js" asp-append-version="true"></script>
}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <img src="~/images/2020T4T-Web-header.jpg" class="img-fluid" alt="Welcome to the Jesse P. Roland Memorial Toys for Tots Benefit Raffle" />
    </div>
</div>
<div class="text-center">
    <h5>The online raffle started at 4:30 PM ET on December 13th!</h5>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <p>
                Thank you for coming to check out the Jesse P. Roland Memorial Toys for Tots Benefit Raffle.
            </p>
            <p>
                The raffles are now closed.If you still want to make a donation,
                you can still go to https://www.facebook.com/Toys4TotsDartTourney11379 and help out.
            </p>
            <p>
                As we select the winners, this page will update to show the prizes and the winner.
            </p>
            <p>
                We can't thank everyone enough for their support.  We appreciate
                everyone who has helped out in every way over the years.  The success of this event
                is a testament to all of your support!!!
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table" style="margin-top: 5px;">
            <thead>
                <tr>
                    <th>Num</th>
                    <th scope="col">Title</th>
                    <th scope="col">Winner(s)</th>
                </tr>
            </thead>
            <tbody id="raffleList">
            </tbody>
        </table>
    </div>
</div>
