@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    The information used on this site will only be used to support the Darts for Dreams: 
    The Quarantine Edition online raffle. Your information is required to contact you if you
    are a winner and match your donation to your ticket selections. Your personal information 
    will not be used for any other purpose and will not be distributed, sold or provided outside 
    of this event.
</p>
<p>
    On the Make-A-Wish NJ donation page there is a separate Privacy Policy that governs their use
    of your information. We have chosen to have supporters send money directly to MAWNJ via the
    Darts for Dreams Donation Page to avoid transferring funds between the organizers and their
    personal accounts back to MAWNJ.
</p>
