
@{
    ViewData["Title"] = "Raffle Admin";
}

<div class="text-center">
    <h1 class="display-4">Raffle Admin</h1>
    <p>Darts for Dreams Raffle</p>
</div>

<div class="row">
    <div class="text-center">
        <a asp-action="Index" asp-controller="AdminRaffleItems" class="btn btn-primary">Manage Raffle Items</a>

        <a asp-action="Index" asp-controller="AdminRaffleOrders" class="btn btn-primary">Manage Raffle Orders</a>

        <a asp-action="Performance" asp-controller="Admin" class="btn btn-outline-info">Raffle Performance</a>
    </div>
</div>